{% extends 'base.html' %}


{% block content %}
  
  <div style="overflow-x: hidden;">
    <h1  style="font-size: 36px;position:relative; left:20px;
    color: #660033;">Smart Route Finder</h1><br>
    <div class="image" style="background-image:url(static/images/ml.jpg);"></div>
    <br>
    <p class="verticalLine shadow-lg p-3 mb-5 bg-body rounded" style="text-align: justify;position: absolute;left: 50px;right: 100px;font-size: 16px;">
      The objective of this Web Application is to find an itinerary from a specific address to a location using available bikes near you.
      This project has been deployed by two 4th year ESILV Students. If you have any questions or suggestions, please feel free to contact us to our electronic mail addresses. 
    </p>
  </div>
{% endblock %}